---
---
@font-face {
  font-family: 'Century Schoolbook BT';
  src: url({{ "/assets/fonts/century_schoolbook_bt.ttf" | prepend: site.baseurl }}) format('truetype');
}

body {
  font-family: "Century Schoolbook", "New Century Schoolbook", Schoolbook, "Century Schoolbook BT", sans-serif;
  font-size: 17px;
  max-width: 45em;
  padding: 2em;
  margin: 0 auto;
  background-color: #eee;
  color: #111;
}

pre,code {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 13px;
}

p {
  margin: 1em auto;
}

.post .meta {
  font-style: italic;
}

.index .entry .date {
  margin-right: 0.5em;
}

h1 {
  font-size: 25px;
}

h2 {
  margin-top: 2em;
}

h1.site-title,
.post header {
  margin-bottom: 2em;
}

footer {
  margin-top: 3em;
}

